In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
df = pd.read_csv("travail_hybride_equilibre.csv")
df.head()

     Groupe  Score Avant  Score Après
0   Hybride     4.367302     6.304160
1   Hybride     6.175557     8.583623
2  Contrôle     4.969034     5.233323
3  Contrôle     6.991234     7.387931
4  Contrôle     6.939347     7.434620

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Groupe       200 non-null    object
 1   Score Avant  200 non-null    float64
 2   Score Après  200 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.8+ KB

In [5]:
df.describe()

       Score Avant  Score Après
count   200.000000   200.000000
mean      5.469358     6.416676
std       0.905258     1.203788
min       4.000565     4.058697
25%       4.701487     5.568632
50%       5.409078     6.448863
75%       6.277996     7.236927
max       6.991234     9.408569

In [6]:
print(f"{df.duplicated().sum()} valeurs dupliquées dans le dataset")
print(f"{df.duplicated().sum()} valeurs dupliquées dans le dataset")

0 valeurs dupliquées dans le dataset
0 valeurs dupliquées dans le dataset

In [15]:
def compute_mean_variation(group_name):
    subset = df[df['Groupe'] == group_name]
    mean_variation = (subset['Score Après'] - subset['Score Avant']).mean()
    return mean_variation

variation_hybride = compute_mean_variation("Hybride")
variation_controle = compute_mean_variation("Contrôle")

diff_diffs = variation_hybride - variation_controle
print(f"Variation moyenne (Hybride) : {variation_hybride:.3f}")
print(f"Variation moyenne (Contrôle) : {variation_controle:.3f}")
print(f"Différence des différences : {diff_diffs:.3f}")

Variation moyenne (Hybride) : 1.585
Variation moyenne (Contrôle) : 0.270
Différence des différences : 1.315

In [11]:
# Test de normalité
alpha = 0.05
hybride_scores = df[df['Groupe'] == "Hybride"]['Score Après']
controle_scores = df[df['Groupe'] == "Contrôle"]['Score Après']
stat, p_value_hybride = stats.shapiro(hybride_scores)
print(f"Test de normalité pour le groupe Hybride : Stat={stat:.3f}, p-value={p_value_hybride:.3f}")

Test de normalité pour le groupe Hybride : Stat=0.986, p-value=0.330

In [13]:
# Test de Student
hybride_diff = df[df['Groupe'] == "Hybride"]["Score Après"] - df[df['Groupe'] == "Hybride"]["Score Avant"]
controle_diff = df[df['Groupe'] == "Contrôle"]["Score Après"] - df[df['Groupe'] == "Contrôle"]["Score Avant"]

t_stat, p_value = stats.ttest_ind(hybride_diff, controle_diff)
print(f"Test de Student : t-stat={t_stat:.3f}, p-value={p_value:.3f}")

Test de Student : t-stat=21.829, p-value=0.000